.feature-two img {
    padding: 70px 50px;
}

.feature-two .content-feature {
    padding-left: 66px;
    padding-right: 22px;
}

.feature-two .content-feature span {
    font-size: 45px;
}

.feature-two .content-feature strong {
    font-size: 45px;
}

.feature-two .content-feature p {
    padding: 20px 0px 36px;
    color: gray;
    line-height: 25px;
    letter-spacing: 1px;
}

.feature-two .content-feature a {
    text-decoration: none;
    background-color: #ececec;
    padding: 16px 20px;
    font-size: 13px;
    color: #959494;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: all .4s;
    outline: none;
    text-transform: uppercase;
}

.feature-two .content-feature a:hover {
    background-color: rgb(255, 95, 131);
    color: #fff;
}