.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: fixed;
    left: 135px;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
}

.navbar .nav-brand img {
    width: 150px;
}

.nav-main {
    display: flex;
    align-items: center;
}

.nav-main ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-main .nav-item {
    padding: 0;
}

.nav-item .link-page-scroll {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: all .2s;
    text-transform: uppercase;
    font-size: 12px;
    font-family: lato;
    letter-spacing: 2px;
}

.nav-item .link-page-scroll:hover {
    color: #ff5f83;
}